{% load static %}
<nav class="navbar navbar-light" style="background-color: lightskyblue">
    <div class="container">
      <a class="navbar-brand" href="">
        <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        <span style="color:red">RSS</span> reader
      </a>
      {% comment %}
      Меню - список пунктов со стандартными классами Bootsrap.
      Класс nav-pills нужен для выделения активных пунктов 
      {% endcomment %}
      {% comment %}
      Внутри тега {% with %} переменная view_name - 
      это синоним для request.resolver_match.view_name
      {% endcomment %}
      <ul class="nav nav-pills">
        <li class="nav-item"> 
           Об авторе
        </li>
        <li class="nav-item">
          Технологии
        </li>
        <li class="nav-item"> 
          <a class="nav-link">Новая запись</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link link-light">Изменить пароль</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link link-light">Выйти</a>
        </li>
        <li>
          Пользователь
        </li>
        <li class="nav-item"> 
          <a class="nav-link link-light">Войти</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link link-light">Регистрация</a>
        </li>
      </ul>
    </div>
  </nav>
