{% extends 'base.html' %}
{% block title%}Последние обновления на сайте{% endblock title %}
{% block content %}
<div class="container">
    <h3>Последние обновления на сайте</h3>
    <!-- Начало глобального div.row с двумя колонками: 
       в левой колонке — источники, в правой — блоки с текстом -->
    <div class="row">

        <!-- Начало левой колонки сайта со списком авторов -->
        <aside class="col-12 col-md-3">
            <ul class="list-group">
                <li class="list-group-item">4pda.to</li>
                <li class="list-group-item">ixbt</li>
                <li class="list-group-item">gsmarena</li>
            </ul>
        </aside>
        <!-- Начало правой (широкой) колонки сайта -->
        <section class="col-12 col-md-9">
            <!-- Конец левой колонки сайта -->
            {% for article in articles %}
            <article>
                <h5>
                    <a href="{{ article.link }}">{{ article.title }}</a>
                </h5>
                <div class="added">
                    {{ article.pub_date }}
                </div>
                <div class="body">
                    {% autoescape off %}
                    {{ article.body|linebreaks }}
                    {% endautoescape %}
                </div>
            </article>
            {% endfor %}
    </div>
    </section>
    <!-- Конец глобального div.row с двумя колонками -->
</div>
{% endblock %}